@model VulnManager.Models.Server

@{
	ViewData["Title"] = "Create server";
}

<h1>Create server</h1>
@*<form asp-action="Create">
	<label asp-for="Ip" class="control-label"></label>
	<input asp-for="Ip" class="form-control"
</form>*@
